body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 1.rem;
  text-align: center;
  background-color: #1b1523;
  color: #fff;
}